nifi-flows/NiFi_Flow.json
{"flowContents":{"identifier":"21d6919f-e725-3088-9e2b-4363294b1546","instanceIdentifier":"09c8b26f-0194-1000-eed5-7e8cc768e613","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","instanceIdentifier":"6ad0155d-39ff-1f24-a867-b7c045d6627d","name":"VK","comments":"","position":{"x":-720.0,"y":760.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5fbaf672-cf14-314b-bb50-44d45a56706c","instanceIdentifier":"39fc1f24-1535-1ad0-eeb4-45ebe7f7bb53","name":"JoltTransformJSON","comments":"","position":{"x":760.0,"y":1248.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.0.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"error\": {\n        \"error_code\": \"error.error_code\",\n        \"error_msg\": \"error.error_msg\",\n        \"request_params\": {\n          \"*\": {\n            \"key\": {\n              \"group_id\": {\n                \"@(2,value)\": \"query\"\n              }\n            }\n          }\n        }\n      },\n\t  \"#${source}\": \"platform\"\n    }\n  }\n]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c"},{"identifier":"85f150b2-d711-3882-b313-f3037a35f411","instanceIdentifier":"39ff1f24-153f-1ad0-e929-47bdb1f1a2ab","name":"JoltTransformJSON","comments":"","position":{"x":1560.0,"y":1184.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.0.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": \"data.&\",\n      \"#${source}\": \"platform\"\n    }\n  }\n]\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c"},{"identifier":"33cb4d35-fea2-3602-b1e1-97af61c125d8","instanceIdentifier":"39fc1f24-153c-1ad0-9472-cd73c659e1cd","name":"RouteOnAttribute","comments":"","position":{"x":736.0,"y":704.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Routing Strategy":"Route to Property name","HasResponse":"${HasResponse:matches('.+')}","HasError":"${HasError:matches('.+')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HasResponse":{"name":"HasResponse","displayName":"HasResponse","identifiesControllerService":false,"sensitive":false,"dynamic":true},"HasError":{"name":"HasError","displayName":"HasError","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c"},{"identifier":"57588336-3b44-37fc-8747-02a819c241b4","instanceIdentifier":"39fc1f24-153b-1ad0-31ca-1a53a4848e8b","name":"EvaluateJsonPath","comments":"","position":{"x":-144.0,"y":704.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","HasResponse":"$.response[0].id","HasError":"$.error.error_code","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HasResponse":{"name":"HasResponse","displayName":"HasResponse","identifiesControllerService":false,"sensitive":false,"dynamic":true},"HasError":{"name":"HasError","displayName":"HasError","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c"},{"identifier":"88b803bb-f277-3b56-beff-4484125a3e1e","instanceIdentifier":"6ad01535-3a03-1f24-cea0-deeaac36ac3a","name":"InvokeHTTP","comments":"","position":{"x":-872.0,"y":720.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.vk.com/method/groups.getById?group_id=${id}&fields=id,name,screen_name,photo_50&access_token=${token}&v=5.131","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c"},{"identifier":"e2123f39-73b8-373f-97ce-0c144b29f747","instanceIdentifier":"6ad01560-39ff-1f24-ce69-5aea2f77079c","name":"JoltTransformJSON","comments":"","position":{"x":1560.0,"y":672.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.0.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"response\": {\n        \"0\": {  // Обращаемся к первому элементу массива\n          \"id\": \"id\",\n          \"name\": \"name\",\n          \"screen_name\": \"screen_name\",\n          \"photo_50\": \"photo\"\n        }\n      }\n    }\n  }\n]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c"},{"identifier":"1fb94c0f-f4c1-3e63-bbf2-173f4b6c8237","instanceIdentifier":"6ad0155f-39ff-1f24-8cdd-4e2205aeb891","name":"MergeContent","comments":"","position":{"x":1224.0,"y":1856.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Defragment","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"]","Max Bin Age":null,"Demarcator File":",","Correlation Attribute Name":null,"Header File":"[","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c"}],"inputPorts":[{"identifier":"fd693c5c-1724-3f09-a2ec-8820c7647eb5","instanceIdentifier":"39ff1f2c-155d-1ad0-bf24-e230ff7132d6","name":"Input_Data","position":{"x":-1504.0,"y":752.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c"}],"outputPorts":[{"identifier":"e09d2f3a-d291-3553-8b4d-4a311935d12f","instanceIdentifier":"39ff1f2e-155d-1ad0-0975-c8eae35dc6e0","name":"Output_Data","position":{"x":2264.0,"y":1896.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c"},{"identifier":"d248c764-eee4-3968-84d2-4fdff18d52ba","instanceIdentifier":"39ff1f63-1560-1ad0-9e81-f737d13f3b62","name":"Output_Error","position":{"x":728.1144439789975,"y":1728.026827815479},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c"}],"connections":[{"identifier":"ac7dad3e-5f89-37fe-b389-a791ed7c8f59","instanceIdentifier":"39ff1f5f-1560-1ad0-b9d6-59e194ca9c27","name":"","source":{"id":"85f150b2-d711-3882-b313-f3037a35f411","type":"PROCESSOR","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"39ff1f24-153f-1ad0-e929-47bdb1f1a2ab"},"destination":{"id":"e09d2f3a-d291-3553-8b4d-4a311935d12f","type":"OUTPUT_PORT","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"Output_Data","instanceIdentifier":"39ff1f2e-155d-1ad0-0975-c8eae35dc6e0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c"},{"identifier":"d838daa1-dee3-373f-a987-db88ff63cb30","instanceIdentifier":"39ff1f28-155d-1ad0-ab27-771a5bf85358","name":"","source":{"id":"88b803bb-f277-3b56-beff-4484125a3e1e","type":"PROCESSOR","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"InvokeHTTP","comments":"","instanceIdentifier":"6ad01535-3a03-1f24-cea0-deeaac36ac3a"},"destination":{"id":"57588336-3b44-37fc-8747-02a819c241b4","type":"PROCESSOR","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"39fc1f24-153b-1ad0-31ca-1a53a4848e8b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c"},{"identifier":"236d148a-467b-3eb0-bf4d-a5d2769020a6","instanceIdentifier":"39ff1f26-155d-1ad0-0ccb-d7d161ea458a","name":"","source":{"id":"57588336-3b44-37fc-8747-02a819c241b4","type":"PROCESSOR","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"39fc1f24-153b-1ad0-31ca-1a53a4848e8b"},"destination":{"id":"33cb4d35-fea2-3602-b1e1-97af61c125d8","type":"PROCESSOR","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"39fc1f24-153c-1ad0-9472-cd73c659e1cd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c"},{"identifier":"eb0877ff-9862-36d6-822c-7b5f9e30be6a","instanceIdentifier":"39ff1f64-1560-1ad0-4b3d-45508f30cd0d","name":"","source":{"id":"5fbaf672-cf14-314b-bb50-44d45a56706c","type":"PROCESSOR","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"39fc1f24-1535-1ad0-eeb4-45ebe7f7bb53"},"destination":{"id":"d248c764-eee4-3968-84d2-4fdff18d52ba","type":"OUTPUT_PORT","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"Output_Error","instanceIdentifier":"39ff1f63-1560-1ad0-9e81-f737d13f3b62"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c"},{"identifier":"e5fd0fb9-e2a9-3fb2-9c60-fdabf6cae39a","instanceIdentifier":"39ff1f2b-155d-1ad0-6d93-5e57d45d9b8b","name":"","source":{"id":"33cb4d35-fea2-3602-b1e1-97af61c125d8","type":"PROCESSOR","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"39fc1f24-153c-1ad0-9472-cd73c659e1cd"},"destination":{"id":"5fbaf672-cf14-314b-bb50-44d45a56706c","type":"PROCESSOR","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"39fc1f24-1535-1ad0-eeb4-45ebe7f7bb53"},"labelIndex":1,"zIndex":0,"selectedRelationships":["HasError"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c"},{"identifier":"259c0717-b671-3ddc-af5b-79724684b33e","instanceIdentifier":"39ff1f27-155d-1ad0-4ed2-8015686ffd43","name":"","source":{"id":"33cb4d35-fea2-3602-b1e1-97af61c125d8","type":"PROCESSOR","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"39fc1f24-153c-1ad0-9472-cd73c659e1cd"},"destination":{"id":"e2123f39-73b8-373f-97ce-0c144b29f747","type":"PROCESSOR","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"6ad01560-39ff-1f24-ce69-5aea2f77079c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["HasResponse"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c"},{"identifier":"ddec6c14-f2c1-3062-a08c-b4c7c635e84e","instanceIdentifier":"39ff1f29-155d-1ad0-b9bc-41a593b0193c","name":"","source":{"id":"85f150b2-d711-3882-b313-f3037a35f411","type":"PROCESSOR","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"39ff1f24-153f-1ad0-e929-47bdb1f1a2ab"},"destination":{"id":"1fb94c0f-f4c1-3e63-bbf2-173f4b6c8237","type":"PROCESSOR","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"MergeContent","comments":"","instanceIdentifier":"6ad0155f-39ff-1f24-8cdd-4e2205aeb891"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c"},{"identifier":"f1ba1b91-23d8-3f86-b59b-be318ba3b3cf","instanceIdentifier":"39ff1f2f-155d-1ad0-55e0-cd123c616eed","name":"","source":{"id":"1fb94c0f-f4c1-3e63-bbf2-173f4b6c8237","type":"PROCESSOR","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"MergeContent","comments":"","instanceIdentifier":"6ad0155f-39ff-1f24-8cdd-4e2205aeb891"},"destination":{"id":"e09d2f3a-d291-3553-8b4d-4a311935d12f","type":"OUTPUT_PORT","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"Output_Data","instanceIdentifier":"39ff1f2e-155d-1ad0-0975-c8eae35dc6e0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c"},{"identifier":"6cd006e3-55ec-3075-84d5-685d88d070cd","instanceIdentifier":"39ff1f2a-155d-1ad0-8862-1dfae66c0f38","name":"","source":{"id":"e2123f39-73b8-373f-97ce-0c144b29f747","type":"PROCESSOR","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"6ad01560-39ff-1f24-ce69-5aea2f77079c"},"destination":{"id":"85f150b2-d711-3882-b313-f3037a35f411","type":"PROCESSOR","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"39ff1f24-153f-1ad0-e929-47bdb1f1a2ab"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c"},{"identifier":"4fab86f2-af7c-313c-9105-0c97202f1a41","instanceIdentifier":"39ff1f2d-155d-1ad0-be50-2f643f4122b1","name":"","source":{"id":"fd693c5c-1724-3f09-a2ec-8820c7647eb5","type":"INPUT_PORT","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"Input_Data","instanceIdentifier":"39ff1f2c-155d-1ad0-bf24-e230ff7132d6"},"destination":{"id":"88b803bb-f277-3b56-beff-4484125a3e1e","type":"PROCESSOR","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"InvokeHTTP","comments":"","instanceIdentifier":"6ad01535-3a03-1f24-cea0-deeaac36ac3a"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"21d6919f-e725-3088-9e2b-4363294b1546"},{"identifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","instanceIdentifier":"39ff1f36-155d-1ad0-2b5d-d76ade82a610","name":"Instagram","comments":"","position":{"x":-704.0,"y":1016.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4ab3822c-1307-38ce-b9ea-00e00c55c039","instanceIdentifier":"39ff1f3a-155d-1ad0-6423-175502786519","name":"JoltTransformJSON","comments":"","position":{"x":672.0,"y":1272.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.0.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"error\": {\n        \"code\": \"error.error_code\",\n        \"message\": \"error.error_msg\"\n      }\n    }\n  }\n]\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"},{"identifier":"64539c51-1b61-3230-ac6b-a91788dbc0ac","instanceIdentifier":"39ff1f3b-155d-1ad0-0fa8-8b9851b71bad","name":"RouteOnAttribute","comments":"","position":{"x":728.0,"y":928.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Routing Strategy":"Route to Property name","HasResponse":"${HasResponse:matches('.+')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HasResponse":{"name":"HasResponse","displayName":"HasResponse","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"},{"identifier":"449a32f5-5e62-3d0d-a733-3d3f385b7811","instanceIdentifier":"39ff1f39-155d-1ad0-e611-a3cc5cc262c9","name":"EvaluateJsonPath","comments":"","position":{"x":-144.0,"y":704.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","HasResponse":"$.business_discovery.id","HasError":"$.error.error_code","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HasResponse":{"name":"HasResponse","displayName":"HasResponse","identifiesControllerService":false,"sensitive":false,"dynamic":true},"HasError":{"name":"HasError","displayName":"HasError","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"},{"identifier":"caacd9fe-c006-344d-bdac-aaa9607c60a9","instanceIdentifier":"39ff1f24-155f-1ad0-b164-cdaeb4fcad2e","name":"MergeContent","comments":"","position":{"x":1224.0,"y":1856.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Defragment","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"]","Max Bin Age":null,"Demarcator File":",","Correlation Attribute Name":null,"Header File":"[","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"},{"identifier":"29ae9041-4187-3726-af59-1702858f3806","instanceIdentifier":"39ff1f24-1560-1ad0-e2ff-7ed1dcf3de8a","name":"JoltTransformJSON","comments":"","position":{"x":1560.0,"y":672.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.0.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"business_discovery\": {\n        \"id\": \"id\",\n        \"name\": \"name\",\n        \"username\": \"screen_name\",\n        \"profile_picture_url\": \"photo\"\n      }\n    }\n  }\n]\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"},{"identifier":"48059ad1-9b49-3db8-916a-6c9b1dd72d4b","instanceIdentifier":"39ff1f3d-155d-1ad0-72ee-6758cfea9d4e","name":"InvokeHTTP","comments":"","position":{"x":-792.0,"y":704.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://graph.facebook.com/v12.0/17841402288074720?fields=business_discovery.username(${id}){followers_count,profile_picture_url,username,name}&access_token=${token}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"},{"identifier":"f2b519f3-3947-3773-bc00-63f317c3025f","instanceIdentifier":"39ff1f86-1560-1ad0-9fb1-8dffadc12b4a","name":"ReplaceText","comments":"","position":{"x":-784.0,"y":1296.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Regular Expression":".*","Replacement Value":"${invokehttp.response.body}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"},{"identifier":"a8402519-473b-35f8-8a85-e2990e8bd8a9","instanceIdentifier":"39ff1f3c-155d-1ad0-e1ea-1239681a941f","name":"JoltTransformJSON","comments":"","position":{"x":1560.0,"y":1184.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.0.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": \"data.&\",\n      \"#${source}\": \"platform\"\n    }\n  }\n]\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"}],"inputPorts":[{"identifier":"a1df5b3c-9f77-3a00-8256-cfab02f636f5","instanceIdentifier":"39ff1f37-155d-1ad0-2677-03f114109f08","name":"Input_Data","position":{"x":-1504.0,"y":752.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"}],"outputPorts":[{"identifier":"aa0241b9-f4e7-3b4a-8d59-e52a9be9e2b6","instanceIdentifier":"39ff1f38-155d-1ad0-bf2d-47ca60653b9e","name":"Output_Data","position":{"x":2264.0,"y":1896.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"},{"identifier":"6f44d3ce-3fee-30d0-beae-bbce2c32e684","instanceIdentifier":"39ff1f6e-1560-1ad0-64da-2ee66d9f54a4","name":"Output_Error","position":{"x":751.8096398790332,"y":1789.8039195234255},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"}],"connections":[{"identifier":"bc99b604-1e41-3ab3-b55f-08cae50433c4","instanceIdentifier":"39ff1f27-1560-1ad0-1038-cb7496f92b49","name":"","source":{"id":"449a32f5-5e62-3d0d-a733-3d3f385b7811","type":"PROCESSOR","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"39ff1f39-155d-1ad0-e611-a3cc5cc262c9"},"destination":{"id":"64539c51-1b61-3230-ac6b-a91788dbc0ac","type":"PROCESSOR","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"RouteOnAttribute","comments":"","instanceIdentifier":"39ff1f3b-155d-1ad0-0fa8-8b9851b71bad"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"},{"identifier":"f1b5228e-9b07-3f2b-81a4-c771e4e8d25f","instanceIdentifier":"39ff1f8e-1560-1ad0-8c95-012ea0e9afd5","name":"","source":{"id":"449a32f5-5e62-3d0d-a733-3d3f385b7811","type":"PROCESSOR","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"39ff1f39-155d-1ad0-e611-a3cc5cc262c9"},"destination":{"id":"29ae9041-4187-3726-af59-1702858f3806","type":"PROCESSOR","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"JoltTransformJSON","comments":"","instanceIdentifier":"39ff1f24-1560-1ad0-e2ff-7ed1dcf3de8a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"},{"identifier":"fa136328-3ffe-3aa0-a3e9-5d094fab098a","instanceIdentifier":"39ff1f2a-1560-1ad0-51b6-97aec91ce2d7","name":"","source":{"id":"29ae9041-4187-3726-af59-1702858f3806","type":"PROCESSOR","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"JoltTransformJSON","comments":"","instanceIdentifier":"39ff1f24-1560-1ad0-e2ff-7ed1dcf3de8a"},"destination":{"id":"a8402519-473b-35f8-8a85-e2990e8bd8a9","type":"PROCESSOR","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"JoltTransformJSON","comments":"","instanceIdentifier":"39ff1f3c-155d-1ad0-e1ea-1239681a941f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"},{"identifier":"29405aee-8de8-398f-a897-c5df2813098a","instanceIdentifier":"39ff1f8c-1560-1ad0-f482-f130ccb8684e","name":"","source":{"id":"f2b519f3-3947-3773-bc00-63f317c3025f","type":"PROCESSOR","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"ReplaceText","comments":"","instanceIdentifier":"39ff1f86-1560-1ad0-9fb1-8dffadc12b4a"},"destination":{"id":"4ab3822c-1307-38ce-b9ea-00e00c55c039","type":"PROCESSOR","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"JoltTransformJSON","comments":"","instanceIdentifier":"39ff1f3a-155d-1ad0-6423-175502786519"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"},{"identifier":"ad9dd7c8-fa55-372a-a668-4378dd9e528f","instanceIdentifier":"39ff1f25-1560-1ad0-51c9-b6a12242d030","name":"","source":{"id":"caacd9fe-c006-344d-bdac-aaa9607c60a9","type":"PROCESSOR","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"MergeContent","comments":"","instanceIdentifier":"39ff1f24-155f-1ad0-b164-cdaeb4fcad2e"},"destination":{"id":"aa0241b9-f4e7-3b4a-8d59-e52a9be9e2b6","type":"OUTPUT_PORT","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"Output_Data","instanceIdentifier":"39ff1f38-155d-1ad0-bf2d-47ca60653b9e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"},{"identifier":"46d17312-0b21-31e2-9499-994d251dd15e","instanceIdentifier":"39ff1f60-1560-1ad0-7fbd-e26af7552077","name":"","source":{"id":"a8402519-473b-35f8-8a85-e2990e8bd8a9","type":"PROCESSOR","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"JoltTransformJSON","comments":"","instanceIdentifier":"39ff1f3c-155d-1ad0-e1ea-1239681a941f"},"destination":{"id":"aa0241b9-f4e7-3b4a-8d59-e52a9be9e2b6","type":"OUTPUT_PORT","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"Output_Data","instanceIdentifier":"39ff1f38-155d-1ad0-bf2d-47ca60653b9e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"},{"identifier":"c64988a4-849f-3858-bb84-3037411213db","instanceIdentifier":"39ff1f8d-1560-1ad0-3541-3ef9489ee0e3","name":"","source":{"id":"48059ad1-9b49-3db8-916a-6c9b1dd72d4b","type":"PROCESSOR","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"InvokeHTTP","comments":"","instanceIdentifier":"39ff1f3d-155d-1ad0-72ee-6758cfea9d4e"},"destination":{"id":"f2b519f3-3947-3773-bc00-63f317c3025f","type":"PROCESSOR","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"ReplaceText","comments":"","instanceIdentifier":"39ff1f86-1560-1ad0-9fb1-8dffadc12b4a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"},{"identifier":"df36358d-2205-3edc-a4ed-6fa48964d27b","instanceIdentifier":"39ff1f2c-1560-1ad0-c0e6-232ff4debce4","name":"","source":{"id":"a1df5b3c-9f77-3a00-8256-cfab02f636f5","type":"INPUT_PORT","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"Input_Data","instanceIdentifier":"39ff1f37-155d-1ad0-2677-03f114109f08"},"destination":{"id":"48059ad1-9b49-3db8-916a-6c9b1dd72d4b","type":"PROCESSOR","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"InvokeHTTP","comments":"","instanceIdentifier":"39ff1f3d-155d-1ad0-72ee-6758cfea9d4e"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"},{"identifier":"a49a552d-a1da-3690-bc53-2b5930c63a9a","instanceIdentifier":"39ff1f2d-1560-1ad0-0fc8-797fdfb5c20a","name":"","source":{"id":"a8402519-473b-35f8-8a85-e2990e8bd8a9","type":"PROCESSOR","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"JoltTransformJSON","comments":"","instanceIdentifier":"39ff1f3c-155d-1ad0-e1ea-1239681a941f"},"destination":{"id":"caacd9fe-c006-344d-bdac-aaa9607c60a9","type":"PROCESSOR","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"MergeContent","comments":"","instanceIdentifier":"39ff1f24-155f-1ad0-b164-cdaeb4fcad2e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"},{"identifier":"1f8bbff6-9013-3457-8963-ec18522a6943","instanceIdentifier":"39ff1f6f-1560-1ad0-e04d-fa32b14db451","name":"","source":{"id":"4ab3822c-1307-38ce-b9ea-00e00c55c039","type":"PROCESSOR","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"JoltTransformJSON","comments":"","instanceIdentifier":"39ff1f3a-155d-1ad0-6423-175502786519"},"destination":{"id":"6f44d3ce-3fee-30d0-beae-bbce2c32e684","type":"OUTPUT_PORT","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"Output_Error","instanceIdentifier":"39ff1f6e-1560-1ad0-64da-2ee66d9f54a4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"},{"identifier":"5c391f2d-059f-346b-bf0e-cafb55204c2c","instanceIdentifier":"39ff1f26-1560-1ad0-bbe3-52d561170cca","name":"","source":{"id":"64539c51-1b61-3230-ac6b-a91788dbc0ac","type":"PROCESSOR","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"RouteOnAttribute","comments":"","instanceIdentifier":"39ff1f3b-155d-1ad0-0fa8-8b9851b71bad"},"destination":{"id":"29ae9041-4187-3726-af59-1702858f3806","type":"PROCESSOR","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"JoltTransformJSON","comments":"","instanceIdentifier":"39ff1f24-1560-1ad0-e2ff-7ed1dcf3de8a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["HasResponse"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"},{"identifier":"0199c025-bc25-35b8-9978-eaa0aa9d30f3","instanceIdentifier":"39ff1f29-1560-1ad0-35de-153c92df38aa","name":"","source":{"id":"48059ad1-9b49-3db8-916a-6c9b1dd72d4b","type":"PROCESSOR","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"InvokeHTTP","comments":"","instanceIdentifier":"39ff1f3d-155d-1ad0-72ee-6758cfea9d4e"},"destination":{"id":"449a32f5-5e62-3d0d-a733-3d3f385b7811","type":"PROCESSOR","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"39ff1f39-155d-1ad0-e611-a3cc5cc262c9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"21d6919f-e725-3088-9e2b-4363294b1546"}],"remoteProcessGroups":[],"processors":[{"identifier":"9cfc9985-dd2d-3256-ac19-db78d167f826","instanceIdentifier":"6ad0154f-39ff-1f24-beaa-e50f6c7c3344","name":"EvaluateJsonPath","comments":"","position":{"x":-1448.0,"y":432.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","id":"$.id","source":"$.source","Path Not Found Behavior":"ignore","token":"$.token"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"id":{"name":"id","displayName":"id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"token":{"name":"token","displayName":"token","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21d6919f-e725-3088-9e2b-4363294b1546"},{"identifier":"a159c045-12d2-3146-9c27-8e7b5315fe96","instanceIdentifier":"2f243a00-6ad0-1535-6cc1-b0eaa4f267bd","name":"SplitJson","comments":"","position":{"x":-1416.0,"y":72.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.pages[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21d6919f-e725-3088-9e2b-4363294b1546"},{"identifier":"5b8d004a-d9a5-368f-a496-d69854c8814b","instanceIdentifier":"2f243a02-6ad0-1535-3b4d-d6442d795570","name":"HandleHttpRequest","comments":"","position":{"x":-1472.0,"y":-456.0},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"multipart-request-max-size":"1 MB","parameters-to-attributes":null,"Allow POST":"true","Hostname":null,"Default URL Character Set":"UTF-8","Allow DELETE":"true","Request Header Maximum Size":"8 KB","Maximum Threads":"200","HTTP Protocols":"HTTP_1_1","Additional HTTP Methods":null,"container-queue-size":"50","HTTP Context Map":"e505241e-fa8d-3c4e-aed2-e024fd937a5e","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Allow OPTIONS":"true","Allowed Paths":"/contentListener","Allow GET":"true","Allow HEAD":"false","Listening Port":"8081","Client Authentication":"No Authentication","Allow PUT":"true"},"propertyDescriptors":{"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"parameters-to-attributes":{"name":"parameters-to-attributes","displayName":"Parameters to Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow POST":{"name":"Allow POST","displayName":"Allow POST","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default URL Character Set":{"name":"Default URL Character Set","displayName":"Default URL Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow DELETE":{"name":"Allow DELETE","displayName":"Allow DELETE","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Maximum Size":{"name":"Request Header Maximum Size","displayName":"Request Header Maximum Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Threads":{"name":"Maximum Threads","displayName":"Maximum Threads","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional HTTP Methods":{"name":"Additional HTTP Methods","displayName":"Additional HTTP Methods","identifiesControllerService":false,"sensitive":false,"dynamic":false},"container-queue-size":{"name":"container-queue-size","displayName":"Container Queue Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Allow OPTIONS":{"name":"Allow OPTIONS","displayName":"Allow OPTIONS","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allowed Paths":{"name":"Allowed Paths","displayName":"Allowed Paths","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow GET":{"name":"Allow GET","displayName":"Allow GET","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow HEAD":{"name":"Allow HEAD","displayName":"Allow HEAD","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Authentication":{"name":"Client Authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow PUT":{"name":"Allow PUT","displayName":"Allow PUT","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21d6919f-e725-3088-9e2b-4363294b1546"},{"identifier":"30ddb00c-ded9-31ff-9ebf-13af2c086075","instanceIdentifier":"2f2439fd-6ad0-1535-0f54-a942f87efe62","name":"HandleHttpResponse","comments":"","position":{"x":728.0,"y":568.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"HTTP Context Map":"e505241e-fa8d-3c4e-aed2-e024fd937a5e","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"200","Content-Type":"application/json"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21d6919f-e725-3088-9e2b-4363294b1546"},{"identifier":"b6d600a6-f383-3969-9dba-59fc776b330b","instanceIdentifier":"6ad0155a-39ff-1f24-92d8-6f437f12d99d","name":"RouteOnAttribute","comments":"","position":{"x":-1464.0,"y":800.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Routing Strategy":"Route to Property name","VK":"${source:equals('VK')}","Instagram":"${source:equals('Instagram')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VK":{"name":"VK","displayName":"VK","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Instagram":{"name":"Instagram","displayName":"Instagram","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21d6919f-e725-3088-9e2b-4363294b1546"},{"identifier":"6e371fa5-dabd-30b5-977d-62322104a8af","instanceIdentifier":"39ff1f45-1560-1ad0-a026-037df9de4ffc","name":"MergeContent","comments":"","position":{"x":509.1134564014744,"y":863.9923187228547},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Defragment","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"]","Max Bin Age":null,"Demarcator File":",","Correlation Attribute Name":null,"Header File":"[","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21d6919f-e725-3088-9e2b-4363294b1546"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"cbd1f64d-f82f-3996-af4a-09d701f89c20","instanceIdentifier":"39ff1f62-1560-1ad0-3da9-ed8af8cd2cca","name":"","source":{"id":"aa0241b9-f4e7-3b4a-8d59-e52a9be9e2b6","type":"OUTPUT_PORT","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"Output_Data","instanceIdentifier":"39ff1f38-155d-1ad0-bf2d-47ca60653b9e"},"destination":{"id":"6e371fa5-dabd-30b5-977d-62322104a8af","type":"PROCESSOR","groupId":"21d6919f-e725-3088-9e2b-4363294b1546","name":"MergeContent","comments":"","instanceIdentifier":"39ff1f45-1560-1ad0-a026-037df9de4ffc"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21d6919f-e725-3088-9e2b-4363294b1546"},{"identifier":"39ddd0c3-1d72-34c1-a859-cb9130b767b5","instanceIdentifier":"39ff1f61-1560-1ad0-b8e3-e28b9b799481","name":"","source":{"id":"e09d2f3a-d291-3553-8b4d-4a311935d12f","type":"OUTPUT_PORT","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"Output_Data","instanceIdentifier":"39ff1f2e-155d-1ad0-0975-c8eae35dc6e0"},"destination":{"id":"6e371fa5-dabd-30b5-977d-62322104a8af","type":"PROCESSOR","groupId":"21d6919f-e725-3088-9e2b-4363294b1546","name":"MergeContent","comments":"","instanceIdentifier":"39ff1f45-1560-1ad0-a026-037df9de4ffc"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21d6919f-e725-3088-9e2b-4363294b1546"},{"identifier":"863117aa-387d-3760-ac48-f0de55863f20","instanceIdentifier":"39ff1f2e-1560-1ad0-22bc-ce37dcb2fb8b","name":"","source":{"id":"b6d600a6-f383-3969-9dba-59fc776b330b","type":"PROCESSOR","groupId":"21d6919f-e725-3088-9e2b-4363294b1546","name":"RouteOnAttribute","comments":"","instanceIdentifier":"6ad0155a-39ff-1f24-92d8-6f437f12d99d"},"destination":{"id":"a1df5b3c-9f77-3a00-8256-cfab02f636f5","type":"INPUT_PORT","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"Input_Data","instanceIdentifier":"39ff1f37-155d-1ad0-2677-03f114109f08"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Instagram"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21d6919f-e725-3088-9e2b-4363294b1546"},{"identifier":"86701ceb-ee3d-3d1f-b68f-fa514c1c9c0e","instanceIdentifier":"2f243a08-6ad0-1535-e352-ddd370767b03","name":"","source":{"id":"30ddb00c-ded9-31ff-9ebf-13af2c086075","type":"PROCESSOR","groupId":"21d6919f-e725-3088-9e2b-4363294b1546","name":"HandleHttpResponse","comments":"","instanceIdentifier":"2f2439fd-6ad0-1535-0f54-a942f87efe62"},"destination":{"id":"e6d9a0ab-067b-3eec-84d1-d2986c7546df","type":"FUNNEL","groupId":"21d6919f-e725-3088-9e2b-4363294b1546","name":"Funnel","comments":"","instanceIdentifier":"2f2439f9-6ad0-1535-cba2-2f45fb259fdc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21d6919f-e725-3088-9e2b-4363294b1546"},{"identifier":"85ae338e-960c-3b25-bf20-d9e46a6c13bd","instanceIdentifier":"6ad0155b-39ff-1f24-2fd2-16544e8103cc","name":"","source":{"id":"9cfc9985-dd2d-3256-ac19-db78d167f826","type":"PROCESSOR","groupId":"21d6919f-e725-3088-9e2b-4363294b1546","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"6ad0154f-39ff-1f24-beaa-e50f6c7c3344"},"destination":{"id":"b6d600a6-f383-3969-9dba-59fc776b330b","type":"PROCESSOR","groupId":"21d6919f-e725-3088-9e2b-4363294b1546","name":"RouteOnAttribute","comments":"","instanceIdentifier":"6ad0155a-39ff-1f24-92d8-6f437f12d99d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21d6919f-e725-3088-9e2b-4363294b1546"},{"identifier":"f0ae408b-aa7e-307a-9c97-326811e96dda","instanceIdentifier":"6ad01550-39ff-1f24-e632-ee9356ffae09","name":"","source":{"id":"a159c045-12d2-3146-9c27-8e7b5315fe96","type":"PROCESSOR","groupId":"21d6919f-e725-3088-9e2b-4363294b1546","name":"SplitJson","comments":"","instanceIdentifier":"2f243a00-6ad0-1535-6cc1-b0eaa4f267bd"},"destination":{"id":"9cfc9985-dd2d-3256-ac19-db78d167f826","type":"PROCESSOR","groupId":"21d6919f-e725-3088-9e2b-4363294b1546","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"6ad0154f-39ff-1f24-beaa-e50f6c7c3344"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21d6919f-e725-3088-9e2b-4363294b1546"},{"identifier":"abec3a54-9461-3690-befe-41cd61916460","instanceIdentifier":"6ad01546-39ff-1f24-52ab-4e75ab457444","name":"","source":{"id":"5b8d004a-d9a5-368f-a496-d69854c8814b","type":"PROCESSOR","groupId":"21d6919f-e725-3088-9e2b-4363294b1546","name":"HandleHttpRequest","comments":"","instanceIdentifier":"2f243a02-6ad0-1535-3b4d-d6442d795570"},"destination":{"id":"a159c045-12d2-3146-9c27-8e7b5315fe96","type":"PROCESSOR","groupId":"21d6919f-e725-3088-9e2b-4363294b1546","name":"SplitJson","comments":"","instanceIdentifier":"2f243a00-6ad0-1535-6cc1-b0eaa4f267bd"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21d6919f-e725-3088-9e2b-4363294b1546"},{"identifier":"e93abd4c-bfc2-31f8-bae2-a96325ce0c3a","instanceIdentifier":"39ff1f30-155d-1ad0-b419-af3bae5579b8","name":"","source":{"id":"b6d600a6-f383-3969-9dba-59fc776b330b","type":"PROCESSOR","groupId":"21d6919f-e725-3088-9e2b-4363294b1546","name":"RouteOnAttribute","comments":"","instanceIdentifier":"6ad0155a-39ff-1f24-92d8-6f437f12d99d"},"destination":{"id":"fd693c5c-1724-3f09-a2ec-8820c7647eb5","type":"INPUT_PORT","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"Input_Data","instanceIdentifier":"39ff1f2c-155d-1ad0-bf24-e230ff7132d6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["VK"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21d6919f-e725-3088-9e2b-4363294b1546"},{"identifier":"eea6fbda-6b2c-3357-a13d-2c4650d240d7","instanceIdentifier":"39ff1f6d-1560-1ad0-46d6-9844bd2a47d9","name":"","source":{"id":"d248c764-eee4-3968-84d2-4fdff18d52ba","type":"OUTPUT_PORT","groupId":"e38f82b4-9f2b-3683-aa8d-b0cf9bda0d1c","name":"Output_Error","instanceIdentifier":"39ff1f63-1560-1ad0-9e81-f737d13f3b62"},"destination":{"id":"6e371fa5-dabd-30b5-977d-62322104a8af","type":"PROCESSOR","groupId":"21d6919f-e725-3088-9e2b-4363294b1546","name":"MergeContent","comments":"","instanceIdentifier":"39ff1f45-1560-1ad0-a026-037df9de4ffc"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":78.55672820073721,"y":812.9961593614273}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21d6919f-e725-3088-9e2b-4363294b1546"},{"identifier":"4f41fb0d-0637-3fc6-af28-9095356b812e","instanceIdentifier":"39ff1f48-1560-1ad0-6365-d8f641257a1e","name":"","source":{"id":"6e371fa5-dabd-30b5-977d-62322104a8af","type":"PROCESSOR","groupId":"21d6919f-e725-3088-9e2b-4363294b1546","name":"MergeContent","comments":"","instanceIdentifier":"39ff1f45-1560-1ad0-a026-037df9de4ffc"},"destination":{"id":"30ddb00c-ded9-31ff-9ebf-13af2c086075","type":"PROCESSOR","groupId":"21d6919f-e725-3088-9e2b-4363294b1546","name":"HandleHttpResponse","comments":"","instanceIdentifier":"2f2439fd-6ad0-1535-0f54-a942f87efe62"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21d6919f-e725-3088-9e2b-4363294b1546"},{"identifier":"f56e2a29-ffde-3b2c-b7db-0905e23c1601","instanceIdentifier":"39ff1f72-1560-1ad0-d1eb-3f5196730f2c","name":"","source":{"id":"6f44d3ce-3fee-30d0-beae-bbce2c32e684","type":"OUTPUT_PORT","groupId":"b811ae38-748b-3d0d-81d4-7a8f5bcb72d1","name":"Output_Error","instanceIdentifier":"39ff1f6e-1560-1ad0-64da-2ee66d9f54a4"},"destination":{"id":"6e371fa5-dabd-30b5-977d-62322104a8af","type":"PROCESSOR","groupId":"21d6919f-e725-3088-9e2b-4363294b1546","name":"MergeContent","comments":"","instanceIdentifier":"39ff1f45-1560-1ad0-a026-037df9de4ffc"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":86.55672820073721,"y":940.9961593614273}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21d6919f-e725-3088-9e2b-4363294b1546"}],"labels":[],"funnels":[{"identifier":"e6d9a0ab-067b-3eec-84d1-d2986c7546df","instanceIdentifier":"2f2439f9-6ad0-1535-cba2-2f45fb259fdc","position":{"x":1256.0,"y":784.0},"componentType":"FUNNEL","groupIdentifier":"21d6919f-e725-3088-9e2b-4363294b1546"}],"controllerServices":[{"identifier":"e505241e-fa8d-3c4e-aed2-e024fd937a5e","instanceIdentifier":"dd573a9b-0293-175f-dc7a-91452e028662","name":"StandardHttpContextMap","comments":"","type":"org.apache.nifi.http.StandardHttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-http-context-map-nar","version":"2.0.0"},"properties":{"Request Expiration":"1 min","Maximum Outstanding Requests":"5000"},"propertyDescriptors":{"Request Expiration":{"name":"Request Expiration","displayName":"Request Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Outstanding Requests":{"name":"Maximum Outstanding Requests","displayName":"Maximum Outstanding Requests","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.http.HttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21d6919f-e725-3088-9e2b-4363294b1546"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}